<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @message.client_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @message.severity %>
</p>

<p>
  <strong>Logtime:</strong>
  <%= @message.logtime %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
