<div class="row show-client-section" id="<%= client.id %>">
  <div class="small-12 medium-6 columns about-client">
    <div class="about-client-avatar">
      <img class="client-image" src="https://i.imgur.com/UPVxPjb.jpg" alt="Kishore Kumar">
    </div>
    <div class="client-details">
      <p class="client-title">
        <%= client.name %>
      </p>
      <p class="client-description">
        <%= client.description %>
      </p>
    </div>
  </div>
  <div class="small-12 medium-6 columns client-stats-section">
    <div class="client-log-stats">
      <ul class="stats-list">
        <li>
          <%= client.number_of_messages %> <span class="stats-list-label">Messages</span>
        </li>
        <li class="stats-list-warnings">
          <%= client.number_of_warnings %> <span class="stats-list-label">Warnings</span>
        </li>
        <li class="stats-list-errors">
          <%= client.number_of_errors %> <span class="stats-list-label">Errors</span>
        </li>
      </ul>
    </div>
  </div>
</div>
