<p id="notice"><%= notice %></p>

<%= link_to 'Edit Client Details', edit_client_path(@client), class: 'button rounded large float-right' %>
<%= link_to 'Destroy Client', @client, method: :delete, data: { confirm: 'Are you really sure?' }, class: 'button alert rounded large float-right' %>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Auth key:</strong>
  <%= @client.auth_key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<h3>Messages from Client</h3>
<%= render partial: 'partials/message_listing' %>
